* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background: url("hotel1.jpg") no-repeat center center fixed;
  background-size: cover;
}


.container {
  width: 400px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #222;
  font-size: 22px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}


.bill-info {
  text-align: left;
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.bill-info p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
}
.btn {
  display: inline-block;
  padding: 12px 20px;
  background: rgb(124,4,4);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;
  margin-top: 15px;
}

.btn:hover {
  background:#c77070 ;
}


.logout {
  display: inline-block;
  padding: 12px 20px;
  background: #f44336;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;  
}

.logout:hover {
  background: #c96362;
}