* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body{
    background:url(hotel1.jpg);
    background-size: cover;
}

.container {
  width: 400px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


h2 {
  text-align: center;
  margin-bottom: 20px;
  color:  black;
}


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
  color:  black;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid rgb(124,4,4);
  outline: none;
  transition: border 0.3s;
}

input:focus, select:focus {
  border: 1px solid rgb(124,4,4);
}


.btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 12px;
  background: rgb(124,4,4);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background: #6b4f4f;;
}