body {
    font-family: Arial, sans-serif;
    background-image: url(hotel1.jpg);
    margin: 0;
    padding: 20px;
}

.page-title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
}

.room-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}

.room-card {
    background-color: #f4f4f4;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 15px;
    transition: 0.3s;
}

.room-card:hover {
    transform: scale(1.05);
}

.room-card img {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
}

.room-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #6b4f4f;
    font-family: "Cursive", sans-serif;
}

.price {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}

.book-btn {
    background: rgb(124,4,4);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.book-btn:hover {
    background: rgb(124,4,4);
}